<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Fix duty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
  <link rel="stylesheet" href="css/flexslider.css" />
  <link rel="stylesheet" href="css/swipebox.css" />
  <script src="js/jquery-1.8.3.min.js"></script>
  <!------ Light Box ------>
  <script src="js/jquery.swipebox.min.js"></script>
  <script type="text/javascript">
    jQuery(function ($) {
      $(".swipebox").swipebox();
    });
  </script>
  <!------ Eng Light Box ------>

  <!---- start-smoth-scrolling---->
  <!-- <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script> -->
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $("html,body").animate(
          { scrollTop: $(this.hash).offset().top },
          1200
        );
      });
    });
  </script>
  <!---End-smoth-scrolling---->
  <script src="js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</head>

<body>
  <div class="header-top">
    <div class="logo">
      <a href="index.html"><img src="images/logo.png" /></a>
    </div>
    <div class="top-menu">
      <ul>
        <li><a href="#home" class="scroll">首页</a></li>
        <li><a href="#product" class="scroll">产品介绍</a></li>
        <li><a href="#service" class="scroll">新闻</a></li>
        <li><a href="#aboutus" class="scroll">关于我们</a></li>
        <!-- <li><a href="#portfolio" class="scroll">产品介绍</a></li> -->
        <!-- <li><a href="#testimonial" class="scroll">testimonial</a></li> -->
        <!-- <li><a href="#team" class="scroll">工厂</a></li> -->
        <!-- <li><a href="#blog" class="scroll">为什么选择我们</a></li>
        <li><a href="#certificate" class="scroll">荣誉资质</a></li> -->
        <li><a href="#contact-us" class="scroll">联系我们</a></li>
      </ul>
    </div>
    <!--script-nav-->
    <script>
      $(function(){
            $(window).scroll(function() {
                var scrollDistance = $(window).scrollTop();
                if(scrollDistance > 10){
                  $(".header-top").addClass("header-top-scroll");
                }else{
                  $(".header-top").removeClass("header-top-scroll");
                }
                console.log("页面已经滚动了 " + scrollDistance + " 像素");
            });

            $(".scroll").click(function (e) {
              $(".scroll").removeClass("active");
              $(this).addClass("active");
            });
      });
    </script>
    <div class="clearfix"></div>
  </div>

  <ul class="right_nav moblie_right_ul" style="overflow: visible;">
      <li style="right: 0px;">
          <div class="iconBox oln_ser">
              <img src="./images/mdhh.png">
             <h4>电话</h4>
          </div>
          <div class="hideBox" style="display: none; opacity: 1;">
             <div class="hb">
                <h5>电话</h5>
                <div class="fonttalk">
                     <p><a href="tel:+86 13316446168">+86 18621010386</a></p>
                </div>
             </div>
          </div>
       </li>
       <li style="right: 0px;">
        <div class="iconBox oln_ser">
            <img src="./images/mwpp.png">
           <h4>座机</h4>
        </div>
        <div class="hideBox" style="display: none; opacity: 1;">
           <div class="hb">
              <h5>座机</h5>
              <div class="fonttalk">
                   <p><a href="tel:400-003-1081">400-003-1081</a></p>
              </div>
           </div>
        </div>
     </li>
      <li style="right: 0px;">
           <div class="iconBox oln_ser"> 
               <img src="./images/myxx.png">
              <h4>邮箱</h4>
           </div>
           <div class="hideBox" style="display: none; opacity: 1;">
              <div class="hb">
                 <h5>邮箱</h5>
                 <div class="fonttalk">
                      <p><a href="mailto:jiuguozhineng@126.com">jiuguozhineng@126.com</a></p>
                 </div>
              </div>
           </div>
        </li>
      <li>
           <div class="iconBox">
              <img src="./images/mwxx.png">
              <h4>微信</h4>
           </div>
           <div class="hideBox" style="display: none; opacity: 1;">
              <div class="hb">
                 <h5>微信</h5>
                 <div class="fonttalk">
                  <p><img src="./images/mqrcode.png" alt="weixin"></p>
                 </div>
              </div>
           </div>
        </li>
        <li style="display:none"></li>
        <script>
          $(function () {
              var right_nav = $(".right_nav"); 
              $(".right_nav li").each(function(){
                  $(this).mouseenter(function () {
                      $(this).animate({right: "85" }, 300);
                  })
                  $(this).mouseleave(function () {
                        $(this).animate({right: "0" }, 100);
                    });
              })
              $(".right_nav li").each(function (i) {
                  if (i < $(".right_nav li").length-1 ) {
                    $(this).mouseover(function () {
                        $(this).children(".hideBox").stop().fadeIn();
                        right_nav.css('overflow', 'visible')
                    });
                    $(this).mouseout(function () {
                        $(this).children(".hideBox").hide();
                        right_nav.css('overflow', 'visible')
                    });
                  } else if (i == $(".right_nav li").length-1) {
                    $(this).click(function () {
                        $('body,html').animate({
                          scrollTop: 0
                        }, 400);
                    })
                  }
              })
            });
        </script>
  </ul>

  <!--End Fixed Navigation==================================== -->
  <section class="slider" id="home">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="slider-info">
            <img src="images/banner.jpg" class="img-responsive" alt="">
          </div>
        </li>
        <li>
          <div class="slider-info">
            <img src="images/banner1.jpg" class="img-responsive" alt="">
          </div>
        </li>
        <li>
          <div class="slider-info">
            <img src="images/banner2.jpg" class="img-responsive" alt="">
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(function () {
      // SyntaxHighlighter.all();
    });
    $(window).load(function () {
      $('.flexslider').flexslider({
        animation: "slide",
        start: function (slider) {
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <!-- FlexSlider -->
  <!-- slider -->
  <div class="content">
    <div class="section aboutus-section" id="aboutus">
      <div class="continer">
        <div class="sectionheader">
          <!-- <img src="images/icon2.png" /> -->
          <h3>企业创始<span>团队经历</span></h3>
          <!-- <p>最适合布置共享充电设备的场景有哪些？</p> -->
        </div>
        <div class="about-grids">
          <div class="col-md-6 left-grid">
            <img src="images/pic1.jpg" />
            <!-- <div class="center-icon"></div> -->
          </div>
          <div class="col-md-6 right-grid">
            <div class="right-top">
              <h2>企业团队经历共享充电宝行业全生命周期,从2014年开始介入行业</h2>
              <p class="lable1">
                <h2>1、2014年</h2>
                <p>主导研发全球第一款共享充电宝</p>
              </p>
              <p class="lable1">
                <h2>2、2017-2019年</h2>
                <p>共享充电宝全国范围直营铺设，累计铺设设备30万+台</p>
              </p>
              <p class="lable1">
                <h2>3、2020-2021年</h2>
                <p>共享充电宝全国范围代理商招商与运营</p>
                <p>总计招募代理商3万+</p>
                <p>销售设备160万台</p>
                <p>对全国所有区域代理商进行赋能支持及培训</p>
              </p>
              <p class="lable1">
                <h2>4、2022年</h2>
                <p>为中国共享充电宝从业者提供定制化解决方案</p>
                <p>为美国，日本等多个国家提供共享充电宝软硬件研发方案</p>
              </p>
              <p class="lable1">
                <h2>5、2023年</h2>
                <p>先后与马来西亚，泰国，越南，新加坡，印尼及欧美地区国家</p>
                <p>建立商务合作</p>
                <p>为地方国家合作商提供本土化解决方案，实现本地化运营。</p>
              </p>
              <p class="lable1">
                <h2>6、2024年</h2>
                <p>全面推进全球共享充电宝技术创新和与业务本土化。</p>
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- services-section -->
    <div class="section services-section" id="service">
      <div class="container">
        <div class="sectionheader">
          <!-- <img src="images/icon2.png" /> -->
          <h3>我们能帮到<span>你什么?</span></h3>
          <!-- <p>如果你准备开始这个生意</p> -->
        </div>
        <div class="col-md-6 service-leftgrid">
          <p>在开始你的手机充电租赁业务之前,必须知道的</p>
          <p>
            如果你决定开展共享充电宝的租赁业务，您需要的不仅仅是可靠专业的硬件供应商，
            更需要符合本地使用的软件服务和资深的行业运营经验。我司将提供10年研发积累的硬件方案，
            并且包含智能化的软件服务和数据看板，同时支持pos机支付，本地钱包，
            银行支付等更多定制服务。我们的工程师将24小时为您提供英文服务。一站式为您提供解决方案。
          </p>
          <br/>
          <p>
            我们团队从2014年开始主导研发了全球第一台共享充电宝，始终致力于共享充电设备的研发与制造，
            并且经历了行业从0发展到1，从1发展到10的过程，截至目前，我们已经累计运营设备160万台，
            招募代理商3万多个，为全球多个国家标杆客户提供支持，比如美国，欧洲，日本，泰国，马来西亚，越南，迪拜等。
          </p>
          <br/>
          <p>
            我们是自2014年以来，第一家致力于共享充电宝行业的研发与运营团队。
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- portfolio-section -->
    <div class="section portfolio-section" id="portfolio">
      <div class="continer">
        <div class="sectionheader">
          <h3>合适的<span>场景</span></h3>
          <!-- <p>最适合布置共享充电设备的场景有哪些？</p> -->
        </div>
        <!-- <div class="portfolio" id="portfolio">
          <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="app card icon web">全部</span></li>
            <li><span class="filter" data-filter="app">酒吧</span></li>
            <li><span class="filter" data-filter="card">机场</span></li>
            <li><span class="filter" data-filter="app card icon">景点</span></li>
            <li><span class="filter" data-filter="card icon web">商场</span></li>
          </ul>
        </div> -->
        <div id="portfoliolist">
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/1.jpg" class="swipebox" title=场景1>
                <img src="images/1.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/2.jpg" class="swipebox" title="场景2">
                <img src="images/2.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/3.jpg" class="swipebox" title="场景3">
                <img src="images/3.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/4.jpg" class="swipebox" title="场景4">
                <img src="images/4.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/5.jpg" class="swipebox" title="场景5">
                <img src="images/5.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/6.jpg" class="swipebox" title="场景6">
                <img src="images/6.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="portfolio card mix_all" data-cat=" web" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/7.jpg" class="swipebox" title="场景7">
                <img src="images/7.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio card mix_all" data-cat="icon" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/8.jpg" class="swipebox" title="场景8">
                <img src="images/8.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Script for gallery Here -->
      <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
      <script type="text/javascript">
        $(function () {
          var filterList = {
            init: function () {
              // MixItUp plugin
              // http://mixitup.io
              $("#portfoliolist").mixitup({
                targetSelector: ".portfolio",
                filterSelector: ".filter",
                effects: ["fade"],
                easing: "snap",
                // call the hover effect
                onMixEnd: filterList.hoverEffect(),
              });
            },

            hoverEffect: function () {
              // Simple parallax effect
              $("#portfoliolist .portfolio").hover(
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: 0 }, 200, "easeOutQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: -30 }, 500, "easeOutQuad");
                },
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: -40 }, 200, "easeInQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: 0 }, 300, "easeOutQuad");
                }
              );
            },
          };
          // Run the show!
          filterList.init();
        });
      </script>
      <!-- portfolio-section  -->
    </div>
    <!-- testimonial-section -->
    <div class="section testimonial-section" id="testimonial">
      <div class="container">  
        <div class="sectionheader">
          <h3>The Future of the Industry: A Market with Immense Potentia<span></span></h3>
          <p>With the global expansion of 5G networks, the increasing penetration of smartphones, and the growing dependence on mobile devices, the mobile power bank industry is poised for explosive growth. Industry experts predict that by 2030, the global market for mobile power bank rental services will reach $10 billion.
            In response to this immense potential, Jiuguo Technology has already established branch offices in Shanghai, Shenzhen, Guangzhou, Hong Kong, Thailand, Germany and Malaysia. Through our global presence, we provide comprehensive solutions for mobile power bank rental services to our clients worldwide.</p>
        </div>
        <div class="testimonial-grids">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="section company-section" id="company">
      <div class="container">
        <div class="sectionheader">
          <h3>Company Overview<span></span></h3>
          <!-- <p>企业概况信息</p> -->
        </div>
        <div class="col-md-6 service-leftgrid">
          <p>Shenzhen Jiuguo Technology Co., Ltd. is a high-tech enterprise specializing in the R&D, production, sales, and operation of shared power banks. Backed by technologies such as big data, artificial intelligence, and smart hardware, as well as extensive experience in operating over one million shared devices, we provide comprehensive OEM/ODM software and hardware solutions for global clients.

            Our R&D headquarters is located in Shenzhen, while our operations headquarters is based in Shanghai. Additionally, we have branch offices in Guangzhou, Hong Kong, Thailand, and Malaysia. The core members of our team come from renowned industry leaders such as Meituan, ZhuMang, and Laidian, with over six years of professional experience in the field, bringing extensive expertise in both operations and R&D.
            
            Our team spearheaded the development and successful deployment of the world’s first shared power bank. Having witnessed the industry’s evolution from its infancy (0) to growth (1) and maturity (10), we bring ten years of shared power bank R&D experience and eight years of operational expertise to support our clients’ growth in multiple dimensions.
            
            We adhere to the philosophy of being product-oriented and customer-focused, continuously driving technological development and product innovation to provide premium, one-stop solutions for users worldwide.
          </p>
          <br/>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="section team-section" id="team">
      <div class="container">
        <div class="sectionheader">
          <h3>研发<span>生产</span></h3>
          <!-- <p>我们的工厂生产图片</p> -->
        </div>
        <div class="team-grids">
          <div class="col-md-3 team-grid">
            <img src="images/t1.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/facebook.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t2.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/twitter.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t3.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t4.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t5.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t6.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t7.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/t8.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="section blog-section" id="blog">
      <div class="container">
        <div class="sectionheader">
          <h3>为什么<span>选择我们</span></h3>
          <!-- <p>A human being has so many skins inside, covering.</p> -->
        </div>
        <div class="blog-grid">
          <div class="col-md-6 blog-leftgtid">
            <div class="blog-grid">
              <a href="single.html"><img src="images/b1.jpg" /></a>
              <a href="single.html">选择1</a>
              <p class="date">02-01-15 by <a href="#">Finibus Bonorum</a></p>
              <p>
                选择111.
              </p>
            </div>
            <div class="blog-grid1">
              <a class="blog-img" href="single.html"><img src="images/b2.jpg" /></a>
              <a href="single.html">选择2</a>
              <p class="date">09-02-15 by <a href="#">Finibus Bonorum</a></p>
              <p>
                选择222
              </p>
            </div>
          </div>
          <div class="col-md-6 blog-rightgtid">
            <div class="blog-grid">
              <a href="single.html"><img src="images/b3.jpg" /></a>
              <a href="single.html">选择3</a>
              <p class="date">19-01-15 by <a href="#">Finibus Bonorum</a></p>
              <p>
                选择3333
              </p>
            </div>
            <div class="blog-grid1">
              <a href="single.html"><img src="images/b4.jpg" /></a>
              <a href="single.html">选择4</a>
              <p class="date">29-02-15 by <a href="#">Finibus Bonorum</a></p>
              <p>
                选择4444
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="section pricing-section" id="pricing">
      <div class="container">
        <div class="sectionheader">
          <h3>我们将如何 <span>帮助到您</span></h3>
          <!-- <p>帮助描述信息帮助描述信息</p> -->
        </div>
        <div class="pricing-grids">
          <p>自2014年开始，我们研发生产了全球第一台共享充电宝。截止目前，我们已经交付了大约160万台设备，
            客户包含了中国，泰国，马来西亚，印尼，中东地区，美国，欧洲国家等。
            这些经验的积累在您开展这个生意之前，将帮您选择最合适本地的产品，
            而不是最好的或者是最便宜的。同时还能告诉您如何在一个空白的市场，消费者对这个行业没有认知的市场中，来开展充电宝租赁这个生意。
            如果您想开始移动电源租赁业务，我们可以为您提供一站式的解决方案，我们的工程师将24小时用英语为您提供帮助。
          </p>
          <!-- <div class="col-md-4 pric-grid effect">
            <div class="pric-top">
              <span>1</span>
              <h4>帮助1</h4>
            </div>
            <div class="pric-list">
              <ul>
                <li>1 Design</li>
                <li>1 Deveplment</li>
                <li>Free Hosting</li>
                <li>Free Domain</li>
                <li>Free SEO</li>
              </ul>
              <p>$150</p>
            </div>
          </div>
          <div class="col-md-4 pric-grid effect">
            <div class="pric-top">
              <span>2</span>
              <h4>帮助2</h4>
            </div>
            <div class="pric-list">
              <ul>
                <li>5 Design</li>
                <li>3 Deveplment</li>
                <li>Free Hosting</li>
                <li>Free Domain</li>
                <li>Free SEO</li>
              </ul>
              <p>$350</p>
            </div>
          </div>
          <div class="col-md-4 pric-grid effect">
            <div class="pric-top">
              <span>3</span>
              <h4>帮助3</h4>
            </div>
            <div class="pric-list">
              <ul>
                <li>20 Design</li>
                <li>10 Deveplment</li>
                <li>Free Hosting</li>
                <li>Free Domain</li>
                <li>Free SEO</li>
              </ul>
              <p>$950</p>
            </div>
          </div> -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="section certificate-section" id="certificate">
      <div class="container">
        <div class="sectionheader">
          <!-- <img src="images/icon4.png" /> -->
          <h3><span>荣誉资质</span></h3>
          <!-- <p>我们的荣誉资质图片</p> -->
        </div>
        <!-- <div class="team-grids">
          <div class="col-md-3 team-grid">
            <img src="images/C1.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C2.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C3.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C4.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C5.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C6.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C7.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C8.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C9.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C10.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C11.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C12.jpg" class="certificate"/>
          </div>
          <div class="clearfix"></div>
        </div>  -->
        <div class="clearfix"></div>
      </div> 
    </div>    

    <div class="section clients-section" id="clients">
      <div class="container">  
        <div class="sectionheader">
          <!-- <img src="images/icon3.png" /> -->
          <h3>我们的<span>客户和伙伴</span></h3>
          <!-- <p>未来行业将迎来巨大的潜力市场</p> -->
        </div>
        <div class="clients-grid">
          <!-- <img src="images/clients.jpg"/> -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- product-section -->
    <div class="section product-section" id="product">
      <div class="continer">
        <div class="sectionheader">
          <h3>我们的<span>产品</span></h3>
          <!-- <p>我们的产品,我们的产品,我们的产品,我们的产品</p> -->
        </div>
        <div class="product" id="product">
          <ul id="filters" class="clearfix">
            <li><span class="product-filter active" data-filter="p1 p2 p3 p4">全部</span></li>
            <li><span class="product-filter" data-filter="p1 p4">组件配件</span></li>
            <li><span class="product-filter" data-filter="p2">桌面设备</span></li>
            <li><span class="product-filter" data-filter="p3">大屏设备</span></li>
            <li><span class="product-filter" data-filter="p4">小屏设备</span></li>
          </ul>
        </div>
        <div id="productlist">
          <div class="product p1 mix_all" data-cat="p1" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p1.jpg" class="swipebox" title=产品1>
                <img src="images/p1.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p2 mix_all" data-cat="p2" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p2.jpg" class="swipebox" title="产品2">
                <img src="images/p2.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p3.jpg" class="swipebox" title="产品3">
                <img src="images/p3.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p1 mix_all" data-cat="p1" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p4.jpg" class="swipebox" title="产品4">
                <img src="images/p4.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p5.jpg" class="swipebox" title="产品5">
                <img src="images/p5.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p4 mix_all" data-cat="p4" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p6.jpg" class="swipebox" title="产品6">
                <img src="images/p6.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p7.jpg" class="swipebox" title="产品7">
                <img src="images/p7.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p8.jpg" class="swipebox" title="产品8">
                <img src="images/p8.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Script for gallery Here -->
      <!-- <script type="text/javascript" src="js/jquery.mixitup.min.js"></script> -->
      <script type="text/javascript">
        $(function () {
          var productfilterList = {
            init: function () {
              // MixItUp plugin
              // http://mixitup.io
              $("#productlist").mixitup({
                targetSelector: ".product",
                filterSelector: ".product-filter",
                effects: ["fade"],
                easing: "snap",
                // call the hover effect
                onMixEnd: productfilterList.hoverEffect(),
              });
            },

            hoverEffect: function () {
              // Simple parallax effect
              $("#productlist .product").hover(
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: 0 }, 200, "easeOutQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: -30 }, 500, "easeOutQuad");
                },
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: -40 }, 200, "easeInQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: 0 }, 300, "easeOutQuad");
                }
              );
            },
          };
          // Run the show!
          productfilterList.init();
        });
      </script>
      <!-- portfolio-section  -->
    </div>

    <!-- Srart Contact Us
		=========================================== -->		
		<div class="section contact-section" id="contact-us">
			<div class="container">
        <div class="sectionheader">
          <!-- <img src="images/icon3.png" /> -->
          <h3>联系<span>我们</span></h3>
          <!-- <p>未来行业将迎来巨大的潜力市场</p> -->
        </div>
				<div class="contact-grid row">
					<!-- Contact Details -->
					<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
						<p>尊敬的访客：欢迎走进玖果科技，我们专注于共享充电宝研发、生产、销售、<br/>同时为您提供强大的运营策略支持，您可以通过以下方式联系我们</p>
						<div class="contact-details">
							<div class="con-info clearfix">
								<i class="fa fa-home fa-lg"></i>
								<span>公司地址:上海市普陀区绥德路2弄24号3层</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-phone fa-lg"></i>
								<span>客服电话:400-003-1081</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-fax fa-lg"></i>
								<span>联系方式:18621010386</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-envelope fa-lg"></i>
								<span>邮箱: jiuguozhineng@126.com</span>
							</div>
						</div>
					</div>
					<!-- / End Contact Details -->
						
					<!-- Contact Form -->
					<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<form id="contact-form" method="post" action="#" role="form">
						
							<div class="form-group">
								<input type="text" placeholder="姓名" class="form-control" name="name" id="name">
							</div>
							
							<div class="form-group">
								<input type="email" placeholder="邮箱" class="form-control" name="email" id="email">
							</div>
							
							<div class="form-group">
								<input type="text" placeholder="主题" class="form-control" name="subject" id="subject">
							</div>
							
							<div class="form-group">
								<textarea rows="6" placeholder="" class="form-control" name="message" id="message"></textarea>	
							</div>
							
							<div id="mail-success" class="success">
								感谢你的联系,我们将尽快与你取得联系 :)
							</div>
							
							<div id="mail-fail" class="error">
								抱歉,系统出现了未知的异常,请稍后操作 :(
							</div>
							
							<div id="cf-submit">
								<input type="submit" id="contact-submit" class="btn btn-transparent" value="提交">
							</div>						
							
						</form>
					</div>
					<!-- ./End Contact Form -->
				</div> <!-- end row -->
			</div> <!-- end container -->

		</div> <!-- end section -->
  </div>

  <div class="footer-section">
    <div class="container">
      <div class="footer-top">
        <p>Copyright &copy; 2024.<a target="_blank" href="index.html">玖果科技</a>All rights reserved.</p>
      </div>
      <a class="scroll" href="#home" id="toTop" style="display: block">
        <span id="toTopHover" style="opacity: 1"> </span></a>
    </div>
  </div>
</body>

</html>