<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Fix duty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
  <link rel="stylesheet" href="css/flexslider.css" />
  <link rel="stylesheet" href="css/swipebox.css" />
  <script src="js/jquery-1.8.3.min.js"></script>
  <!------ Light Box ------>
  <script src="js/jquery.swipebox.min.js"></script>
  <script type="text/javascript">
    jQuery(function ($) {
      $(".swipebox").swipebox();
    });
  </script>
  <!------ Eng Light Box ------>

  <!---- start-smoth-scrolling---->
  <!-- <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script> -->
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $("html,body").animate(
          { scrollTop: $(this.hash).offset().top },
          1200
        );
      });
    });
  </script>
  <!---End-smoth-scrolling---->
  <script src="js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</head>

<body>
  <div class="header-top">
    <div class="logo">
      <a href="index.html"><img src="images/logo.png" /></a>
    </div>
    <div class="top-menu">
      <ul>
        <li><a href="#home" class="scroll">Home</a></li>
        <li><a href="#product" class="scroll">Product</a></li>
        <li><a href="#service" class="scroll">News</a></li>
        <li><a href="#company" class="scroll">About Us</a></li>
        <!-- <li><a href="#portfolio" class="scroll">产品介绍</a></li> -->
        <!-- <li><a href="#testimonial" class="scroll">testimonial</a></li> -->
        <!-- <li><a href="#team" class="scroll">工厂</a></li> -->
        <!-- <li><a href="#blog" class="scroll">为什么选择我们</a></li>
        <li><a href="#certificate" class="scroll">荣誉资质</a></li> -->
        <li><a href="#contact-us" class="scroll">Contact Us</a></li>
      </ul>
    </div>
    <!--script-nav-->
    <script>
      $(function(){
            $(window).scroll(function() {
                var scrollDistance = $(window).scrollTop();
                if(scrollDistance > 10){
                  $(".header-top").addClass("header-top-scroll");
                }else{
                  $(".header-top").removeClass("header-top-scroll");
                }
                console.log("页面已经滚动了 " + scrollDistance + " 像素");
            });

            $(".scroll").click(function (e) {
              $(".scroll").removeClass("active");
              $(this).addClass("active");
            });
      });
    </script>
    <div class="clearfix"></div>
  </div>

  <ul class="right_nav moblie_right_ul" style="overflow: visible;">
      <li style="right: 0px;">
          <div class="iconBox oln_ser">
              <img src="./images/mdhh.png">
             <h4>电话</h4>
          </div>
          <div class="hideBox" style="display: none; opacity: 1;">
             <div class="hb">
                <h5>电话</h5>
                <div class="fonttalk">
                     <p><a href="tel:+86 13316446168">+86 18621010386</a></p>
                </div>
             </div>
          </div>
       </li>
       <li style="right: 0px;">
        <div class="iconBox oln_ser">
            <img src="./images/mwpp.png">
           <h4>座机</h4>
        </div>
        <div class="hideBox" style="display: none; opacity: 1;">
           <div class="hb">
              <h5>座机</h5>
              <div class="fonttalk">
                   <p><a href="tel:400-003-1081">400-003-1081</a></p>
              </div>
           </div>
        </div>
     </li>
      <li style="right: 0px;">
           <div class="iconBox oln_ser"> 
               <img src="./images/myxx.png">
              <h4>邮箱</h4>
           </div>
           <div class="hideBox" style="display: none; opacity: 1;">
              <div class="hb">
                 <h5>邮箱</h5>
                 <div class="fonttalk">
                      <p><a href="mailto:jiuguozhineng@126.com">jiuguozhineng@126.com</a></p>
                 </div>
              </div>
           </div>
        </li>
      <li>
           <div class="iconBox">
              <img src="./images/mwxx.png">
              <h4>微信</h4>
           </div>
           <div class="hideBox" style="display: none; opacity: 1;">
              <div class="hb">
                 <h5>微信</h5>
                 <div class="fonttalk">
                  <p><img src="./images/mqrcode.png" alt="weixin"></p>
                 </div>
              </div>
           </div>
        </li>
        <li style="display:none"></li>
        <script>
          $(function () {
              var right_nav = $(".right_nav"); 
              $(".right_nav li").each(function(){
                  $(this).mouseenter(function () {
                      $(this).animate({right: "85" }, 300);
                  })
                  $(this).mouseleave(function () {
                        $(this).animate({right: "0" }, 100);
                    });
              })
              $(".right_nav li").each(function (i) {
                  if (i < $(".right_nav li").length-1 ) {
                    $(this).mouseover(function () {
                        $(this).children(".hideBox").stop().fadeIn();
                        right_nav.css('overflow', 'visible')
                    });
                    $(this).mouseout(function () {
                        $(this).children(".hideBox").hide();
                        right_nav.css('overflow', 'visible')
                    });
                  } else if (i == $(".right_nav li").length-1) {
                    $(this).click(function () {
                        $('body,html').animate({
                          scrollTop: 0
                        }, 400);
                    })
                  }
              })
            });
        </script>
  </ul>

  <!--End Fixed Navigation==================================== -->
  <section class="slider" id="home">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="slider-info">
            <img src="images/banner.jpg" class="img-responsive" alt="">
          </div>
        </li>
        <li>
          <div class="slider-info">
            <img src="images/banner1.jpg" class="img-responsive" alt="">
          </div>
        </li>
        <li>
          <div class="slider-info">
            <img src="images/banner2.jpg" class="img-responsive" alt="">
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(function () {
      // SyntaxHighlighter.all();
    });
    $(window).load(function () {
      $('.flexslider').flexslider({
        animation: "slide",
        start: function (slider) {
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <!-- FlexSlider -->
  <!-- slider -->
  <div class="content">
    <div class="section aboutus-section" id="aboutus">
      <div class="continer">
        <div class="sectionheader">
          <!-- <img src="images/icon2.png" /> -->
          <h3>Enterprise founding team’s background<span></span></h3>
          <!-- <p>最适合布置共享充电设备的场景有哪些？</p> -->
        </div>
        <div class="about-grids">
          <div class="col-md-6 left-grid">
            <img src="images/pic1.jpg" />
            <!-- <div class="center-icon"></div> -->
          </div>
          <div class="col-md-6 right-grid">
            <div class="right-top">
              <h2>The founding team of the enterprise has witnessed the entire life cycle of the shared power bank industry, entering the field since 2014. </h2>
              <p class="lable1">
                <h2>2014 </h2>
                <ol class="custom-list">
                  <li><p>Led the research and development of the world’s first shared power bank. </p></li>
                </ol>
              </p>
              <p class="lable1">
                <h2>2017-2019</h2>
                <ol class="custom-list">
                  <li><p>Nationwide direct deployment of shared power banks, with over 300K devices cumulatively installed. </p></li>
                </ol>
              </p>
              <p class="lable1">
                <h2>2020-2021</h2>
                <ol class="custom-list">
                  <li><p>Launched a nationwide franchise model for shared power bank distribution and operations, recruiting over 30,000 franchise partners. </p></li>
              </ol>
              </p>
              <p class="lable1">
                <h2>2022</h2>
                <ol class="custom-list">
                  <li><p>Delivered customized solutions for shared power bank operators in China.</p></li>
                  <li><p>Provided R&D solutions for shared power bank hardware and software to countries including the United States and Japan.  </p></li>
                </ol>
              </p>
              <p class="lable1">
                <h2>2023</h2>
                <ol class="custom-list">
                  <li><p> Established strategic business collaborations with countries such as Malaysia, Thailand, Vietnam, Singapore, Indonesia, and regions across Europe and the Americas.</p></li>
                  <li><p>Delivered localized solutions for partners, enabling seamless localized operations.</p></li>
                </ol>
              </p>
              <p class="lable1">
                <h2>2024</h2>
                <ol class="custom-list">
                  <li><p>Fully advancing global innovation in shared power bank technology while promoting business localization worldwide.</p></li>
                </ol>
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- services-section -->
    <div class="section services-section" id="service">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <!-- <img src="images/icon2.png" /> -->
          <h3>What You Should Know First If You Want to Start Power Bank Rental Business?<span> </span></h3>
          <!-- <p>如果你准备开始这个生意</p> -->
        </div>
        <div class="col-md-8 service-leftgrid">
          <ol class="custom-list">
            <li><p>
              If you decide to start a shared power bank rental business, you need more than just a reliable and professional hardware supplier. You also require software services tailored to local usage and extensive industry operation expertise.
            </p></li>
            <li><p>
              Our company offers hardware solutions backed by 10 years of R&D experience, integrated with intelligent software services and data dashboards. We also provide support for POS payments, local e-wallets, bank payments, and other customized services. Our engineers are available 24/7 to provide English-language support, delivering a one-stop solution for your business needs.
            </p></li>
            <li><p>
              Since 2014, our team has pioneered the development of the world’s first shared power bank, continuously dedicating ourselves to the R&D and manufacturing of shared charging equipment. We have witnessed the industry’s growth from zero to one and from one to ten. To date, we have deployed over 1.6 million devices and recruited more than 30,000 agents globally.
            </p></li>
            <li><p>
              We have provided comprehensive support to benchmark customers in multiple countries, including the United States, Europe, Japan, Thailand, Malaysia, Vietnam, and Dubai.
            </p></li>
            <li><p>
              We are the first team, since 2014, dedicated to the R&D and operation of the shared power bank 
            </p></li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- portfolio-section -->
    <div class="section portfolio-section" id="portfolio">
      <div class="continer">
        <div class="sectionheader">
          <h3>The deployment situations of Power Bank Rental Stations<span></span></h3>
          <!-- <p>最适合布置共享充电设备的场景有哪些？</p> -->
        </div>
        <!-- <div class="portfolio" id="portfolio">
          <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="app card icon web">全部</span></li>
            <li><span class="filter" data-filter="app">酒吧</span></li>
            <li><span class="filter" data-filter="card">机场</span></li>
            <li><span class="filter" data-filter="app card icon">景点</span></li>
            <li><span class="filter" data-filter="card icon web">商场</span></li>
          </ul>
        </div> -->
        <div id="portfoliolist">
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/1.jpg" class="swipebox" title=场景1>
                <img src="images/1.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/2.jpg" class="swipebox" title="场景2">
                <img src="images/2.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/3.jpg" class="swipebox" title="场景3">
                <img src="images/3.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/4.jpg" class="swipebox" title="场景4">
                <img src="images/4.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/5.jpg" class="swipebox" title="场景5">
                <img src="images/5.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/6.jpg" class="swipebox" title="场景6">
                <img src="images/6.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="portfolio card mix_all" data-cat=" web" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/7.jpg" class="swipebox" title="场景7">
                <img src="images/7.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="portfolio card mix_all" data-cat="icon" style="display: inline-block; opacity: 1">
            <div class="portfolio-wrapper grid_box">
              <a href="images/8.jpg" class="swipebox" title="场景8">
                <img src="images/8.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Script for gallery Here -->
      <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
      <script type="text/javascript">
        $(function () {
          var filterList = {
            init: function () {
              // MixItUp plugin
              // http://mixitup.io
              $("#portfoliolist").mixitup({
                targetSelector: ".portfolio",
                filterSelector: ".filter",
                effects: ["fade"],
                easing: "snap",
                // call the hover effect
                onMixEnd: filterList.hoverEffect(),
              });
            },

            hoverEffect: function () {
              // Simple parallax effect
              $("#portfoliolist .portfolio").hover(
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: 0 }, 200, "easeOutQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: -30 }, 500, "easeOutQuad");
                },
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: -40 }, 200, "easeInQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: 0 }, 300, "easeOutQuad");
                }
              );
            },
          };
          // Run the show!
          filterList.init();
        });
      </script>
      <!-- portfolio-section  -->
    </div>
    <!-- testimonial-section -->
    <div class="section testimonial-section" id="testimonial">
      <div class="container">  
        <div class="sectionheader">
          <h3>The Future of the Industry: A Market with Immense Potential<span></span></h3>
          <ol class="custom-list">
            <li><p>
              With the global expansion of 5G networks, the increasing penetration of smartphones, and the growing dependence on mobile devices, the mobile power bank industry is poised for explosive growth. Industry experts predict that by 2030, the global market for mobile power bank rental services will reach $10 billion.
            </p></li>
            <li><p>
              In response to this immense potential, Jiuguo Technology has already established branch offices in Shanghai, Shenzhen, Guangzhou, Hong Kong, Thailand, and Malaysia. Through our global presence, we provide comprehensive solutions for mobile power bank rental services to our clients worldwide.
            </p></li>
          </ol>
        </div>
        <div class="col-md-6 testimonial-grids">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="section company-section" id="company">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <h3>About Us<span></span></h3>
        </div>
        <div class="col-md-6 service-leftgrid">
          <h3><span>Company Overview </span></h3>
          <ol class="custom-list">
            <li><p>
              Shenzhen Jiuguo Technology Co., Ltd. is a high-tech enterprise specializing in the R&D, production, sales, and operation of shared power banks. Backed by technologies such as big data, artificial intelligence, and smart hardware, as well as extensive experience in operating over one million shared devices, we provide comprehensive OEM/ODM software and hardware solutions for global clients.
            </p></li>
            <li><p>
              Our R&D headquarters is located in Shenzhen, while our operations headquarters is based in Shanghai. Additionally, we have branch offices in Guangzhou, Hong Kong, Thailand, and Malaysia. The core members of our team come from renowned industry leaders such as Meituan, ZhuMang, and Laidian, with over six years of professional experience in the field, bringing extensive expertise in both operations and R&D.
            </p></li>
            <li><p>
              Our team spearheaded the development and successful deployment of the world’s first shared power bank. Having witnessed the industry’s evolution from its infancy (0) to growth (1) and maturity (10), we bring ten years of shared power bank R&D experience and eight years of operational expertise to support our clients’ growth in multiple dimensions.
            </p></li>
            <li><p>
              We adhere to the philosophy of being product-oriented and customer-focused, continuously driving technological development and product innovation to provide premium, one-stop solutions for users worldwide.
            </p></li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="section team-section" id="team">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <h3>R&D<span></span></h3>
          <ol class="container custom-list">
            <li><p>
              Our R&D team comprises experts across both hardware and software domains. On the hardware side, we have industrial designers, structural designers, embedded engineers, and testing engineers. On the software side, the team includes UI designers, front-end engineers, back-end engineers, and system architects. All members come from the world’s top four shared power bank brands, bringing extensive industry experience to ensure we can quickly and effectively respond to customer needs.
            </p></li>
          </ol>
        </div>
        <div class="team-grids">
          <div class="team-grid">
            <img src="images/t1.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/facebook.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t2.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/twitter.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t3.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t4.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t4.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t6.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t7.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="team-grid">
            <img src="images/t8.jpg" />
            <!-- <div class="team-info">
              <h4>janey</h4>
              <p>deginer</p>
              <a href="#"><img src="images/google-plus.png" /></a>
            </div> -->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="section blog-section" id="blog">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <h3>Why Choose Us？<span></span></h3>
        </div>
        <div class="blog-grid">
          <div class="col-md-6 blog-leftgtid">
            <div class="blog-grid">
              <a href="single.html"><img src="images/b1.jpg" /></a>
              <p class="date"><a href="single.html">Extensive Operational Experience</a></p>
              <p>
                With eight years of successful operational experience in China—one of the world’s most complex markets—we have managed a direct team of over 1,000 employees and supported 30,000 agents, solving tens of thousands of real-world challenges. This gives us a unique advantage in expanding business globally, ensuring you start at the forefront of the industry.
              </p>
            </div>
            <div class="blog-grid1">
              <a class="blog-img" href="single.html"><img src="images/b2.jpg" /></a>
              <p class="date"><a href="single.html">Outstanding and Reliable Hardware Solutions</a></p>
              <p>
                With a decade of R&D expertise in shared power bank equipment, we have accumulated deep technical knowledge in product design, structural engineering, and embedded development. Leveraging a database of millions of device operations over ten years, we significantly reduce issues such as unrecognized power banks, order termination failures, and device malfunctions. This enhances the full lifecycle management of cabinets and power banks, ensuring exceptional performance and reliability.
              </p>
            </div>
          </div>
          <div class="col-md-6 blog-rightgtid">
            <div class="blog-grid">
              <a href="single.html"><img src="images/b3.jpg" /></a>
              <p class="date"><a href="single.html">Industry-Leading Software Systems</a></p>
              <p>
                Unlike other shared power bank suppliers, we go beyond hardware by offering robust software solutions tailored to your needs. Our software covers user management, order management, channel management, asset management, marketing tools, and data dashboards. Our innovative, intelligent, and localized software platform, developed by the JiuGuo Technology team, ensures flexible and efficient customization for your business.
              </p>
            </div>
            <div class="blog-grid1">
              <a href="single.html"><img src="images/b4.jpg" /></a>
              <p class="date"><a href="single.html">Strategic Marketing and Market Support</a></p>
              <p>
                We don’t just deliver products; we provide unique market insights, extensive corporate operational expertise, and rich financing resources to help you achieve steady and rapid growth. Whether entering a new market or optimizing existing operations, our proven strategies will ensure you stay ahead of the competition.
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="section pricing-section" id="pricing">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <h3>How We Can Help You!<span></span></h3>
        </div>
        <div class="col-md-8 pricing-grids">
          <ol class="custom-list">
            <li><p>
              Since 2014, we have developed and produced the world’s first shared power bank. To date, we have delivered approximately 1.6 million devices to customers in China, Thailand, Malaysia, Indonesia, the Middle East, the United States, and various European countries.
            </p></li>
            <li><p>
              These accumulated experiences allow us to help you choose the most suitable product for your local market, rather than simply the best or the cheapest option. Additionally, we can guide you on how to launch a power bank rental business in an untapped market, where consumers may have little to no awareness of this industry.
            </p></li>
            <li><p>
              If you are ready to start a mobile power bank rental business, we can provide you with a one-stop solution. Our engineers are available 24/7 to assist you in English, ensuring seamless support for your operations.
            </p></li>
          </ol>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="section certificate-section" id="certificate">
      <div class="container" style="width: auto;">
        <div class="sectionheader">
          <h3>Certification<span></span></h3>
        </div>
        <!-- <div class="team-grids">
          <div class="col-md-3 team-grid">
            <img src="images/C1.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C2.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C3.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C4.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C5.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C6.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C7.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C8.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C9.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C10.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C11.jpg" class="certificate"/>
          </div>
          <div class="col-md-3 team-grid">
            <img src="images/C12.jpg" class="certificate"/>
          </div>
          <div class="clearfix"></div>
        </div>  -->
        <div class="clearfix"></div>
      </div> 
    </div>    

    <div class="section clients-section" id="clients">
      <div class="container" style="width: auto;">  
        <div class="sectionheader">
          <!-- <img src="images/icon3.png" /> -->
          <h3>Our Clients/Partners<span></span></h3>
        </div>
        <div class="clients-grid">
          <!-- <img src="images/clients.jpg"/> -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- product-section -->
    <div class="section product-section" id="product">
      <div class="continer">
        <div class="sectionheader">
          <h3>Our Products<span></span></h3>
        </div>
        <div class="product" id="product">
          <ul id="filters" class="clearfix">
            <li><span class="product-filter active" data-filter="p1 p2 p3 p4">All</span></li>
            <li><span class="product-filter" data-filter="p1 p4">Desktop Series</span></li>
            <li><span class="product-filter" data-filter="p2">Small Screen</span></li>
            <li><span class="product-filter" data-filter="p3">Large Screen</span></li>
          </ul>
        </div>
        <div id="productlist">
          <div class="product p1 mix_all" data-cat="p1" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p1.jpg" class="swipebox" title=产品1>
                <img src="images/p1.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p2 mix_all" data-cat="p2" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p2.jpg" class="swipebox" title="产品2">
                <img src="images/p2.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p3.jpg" class="swipebox" title="产品3">
                <img src="images/p3.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p1 mix_all" data-cat="p1" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p4.jpg" class="swipebox" title="产品4">
                <img src="images/p4.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p5.jpg" class="swipebox" title="产品5">
                <img src="images/p5.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p4 mix_all" data-cat="p4" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p6.jpg" class="swipebox" title="产品6">
                <img src="images/p6.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>

          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p7.jpg" class="swipebox" title="产品7">
                <img src="images/p7.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="product p3 mix_all" data-cat="p3" style="display: inline-block; opacity: 1">
            <div class="product-wrapper grid_box">
              <a href="images/p8.jpg" class="swipebox" title="产品8">
                <img src="images/p8.jpg" class="img-responsive" alt="" /><span class="zoom-icon"></span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Script for gallery Here -->
      <!-- <script type="text/javascript" src="js/jquery.mixitup.min.js"></script> -->
      <script type="text/javascript">
        $(function () {
          var productfilterList = {
            init: function () {
              // MixItUp plugin
              // http://mixitup.io
              $("#productlist").mixitup({
                targetSelector: ".product",
                filterSelector: ".product-filter",
                effects: ["fade"],
                easing: "snap",
                // call the hover effect
                onMixEnd: productfilterList.hoverEffect(),
              });
            },

            hoverEffect: function () {
              // Simple parallax effect
              $("#productlist .product").hover(
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: 0 }, 200, "easeOutQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: -30 }, 500, "easeOutQuad");
                },
                function () {
                  $(this)
                    .find(".label")
                    .stop()
                    .animate({ bottom: -40 }, 200, "easeInQuad");
                  $(this)
                    .find("img")
                    .stop()
                    .animate({ top: 0 }, 300, "easeOutQuad");
                }
              );
            },
          };
          // Run the show!
          productfilterList.init();
        });
      </script>
      <!-- portfolio-section  -->
    </div>

    <!-- Srart Contact Us
		=========================================== -->		
		<div class="section contact-section" id="contact-us">
			<div class="container">
        <div class="sectionheader">
          <h3>Contact Us<span></span></h3>
        </div>
				<div class="contact-grid row">
					<!-- Contact Details -->
					<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
						<p>Dear visitors: Welcome to Jiuguo Technology. We focus on the research and development, production and sales of shared power banks.
              At the same time, we provide you with strong operational strategy support. You can contact us through the following methods:</p>
						<div class="contact-details">
							<div class="con-info clearfix">
								<i class="fa fa-home fa-lg"></i>
								<span>Company address: 3rd Floor, No. 24, Lane 2, Suide Road, Putuo District, Shanghai</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-phone fa-lg"></i>
								<span>Customer service phone: 400-003-1081</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-fax fa-lg"></i>
								<span>Contact information: 18621010386</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-envelope fa-lg"></i>
								<span>Email: jiuguozhineng@126.com</span>
							</div>
						</div>
					</div>
					<!-- / End Contact Details -->
						
					<!-- Contact Form -->
					<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<form id="contact-form" method="post" action="#" role="form">
						
							<div class="form-group">
								<input type="text" placeholder="Name" class="form-control" name="name" id="name">
							</div>
							
							<div class="form-group">
								<input type="email" placeholder="Email" class="form-control" name="email" id="email">
							</div>
							
							<div class="form-group">
								<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
							</div>
							
							<div class="form-group">
								<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>	
							</div>
							
							<div id="mail-success" class="success">
								感谢你的联系,我们将尽快与你取得联系 :)
							</div>
							
							<div id="mail-fail" class="error">
								抱歉,系统出现了未知的异常,请稍后操作 :(
							</div>
							
							<div id="cf-submit">
								<input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
							</div>						
							
						</form>
					</div>
					<!-- ./End Contact Form -->
				</div> <!-- end row -->
			</div> <!-- end container -->

		</div> <!-- end section -->
  </div>

  <div class="footer-section">
    <div class="container">
      <div class="footer-top">
        <p>Copyright &copy; 2024.<a target="_blank" href="index.html">JiuGuoTech</a>All rights reserved.</p>
      </div>
      <a class="scroll" href="#home" id="toTop" style="display: block">
        <span id="toTopHover" style="opacity: 1"> </span></a>
    </div>
  </div>
</body>

</html>